[Unit]
Description=EasyEffects Headless (Xvfb)
After=pipewire.service
Requires=pipewire.service
PartOf=gamescope-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 5
ExecStart=%h/.local/bin/easyeffects-xvfb start
ExecStop=%h/.local/bin/easyeffects-xvfb stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=gamescope-session.target
